body{
  color: #192e31;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-size: 3.5em;
  font-weight: bold;
}
p {
  font-size: 1.5em;
  font-weight: bold;
}
p:first-letter {
  text-transform: capitalize;
}
ul{
  list-style: none;
  margin:0 0 1em 0;
  padding: 0;
}
a {
 text-decoration: none;
 color:#0f499b;
}
input {
  padding: 6px 12px;
  border: 1px solid #192e31;
  border-radius: 5px;
  box-shadow: #192e31 0px 5px 5px 0;
}
button {
  color: white;
  background-color:#192e31;
  border-color:#192e31;
  padding: 6px 12px;
  border: 1px solid#192e31;
  border-radius: 5px;
  box-shadow:#192e31 0px 5px 5px 0;
}
input,
button:hover {
  color: #192e31;
  background-color: transparent;
}
button:hover {
  border-color: #192e31;
}
.container{
max-width: 40em;
margin: 1em auto;
}
.card {
background-image:url("img/flashkaikowetter.jpg");
background-size: cover;
padding: 2em;
border: 1px solid #192e31;
border-radius: 6px; 
}

.dayTemperature {
  font-size: 1.5em;
  padding: 0.3em 0.1em;
  border: 1px solid#192e31;
  border-radius: 5px;
}
.units {
font-size: 0.7em;
}
.active {
color:#192e31;
cursor: default;
}

